@import url(font-awesome.min.css);
@import url(bootstrap.min.css);
@font-face {
  font-family: "DIN";
  src: url("../fonts/DINWeb.eot"); }
@font-face {
  font-family: "DIN";
  src: url("../fonts/DINWeb.woff") format("woff"); }
@font-face {
  font-family: "BLUE";
  src: url("../fonts/bluehigh-webfont.eot"); }
@font-face {
  font-family: "BLUE";
  src: url("../fonts/bluehigh-webfont.woff") format("woff"); }
html, body {
  font-family: "DIN",sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "DIN";
  text-transform: uppercase; }

.page-header {
  border-bottom: none;
  margin-bottom: 0; }
  .page-header h1 {
    color: #999;
    font-size: 16px; }
  .page-header small {
    color: red;
    font-size: 16px; }

#weArt .page-header h1 {
  text-transform: none; }

h4 {
  display: inline-block;
  font-size: 14px;
  text-transform: none;
  margin-bottom: 5px;
  margin-top: 5px; }

.red {
  color: red; }

ul {
  list-style: square;
  padding: 0; }

#workNews iframe {
  margin: 0; }

.noPadding {
  padding: 0; }

p {
  margin: 10px 0; }

#workHome hr {
  display: none; }
#workHome .toggled {
  display: block; }
#workHome .toggler {
  display: none; }

.toggled {
  display: none; }

.toggler, .newsletterToggler {
  color: red;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase; }
  .toggler .more, .newsletterToggler .more {
    font-size: 80%; }
    .toggler .more:after, .newsletterToggler .more:after {
      content: "more"; }
  .toggler .less, .newsletterToggler .less {
    font-size: 80%; }
    .toggler .less:after, .newsletterToggler .less:after {
      content: "less"; }

article.container {
  margin-bottom: 25px; }

.medImg img.thumb {
  width: 455px !important; }

.medTxt h2 {
  font-size: 18px;
  margin-top: 0; }

.smallItem img {
  width: 213px !important; }
.smallItem h2 {
  margin-top: 7px; }

section.abstract {
  margin-bottom: 25px; }

hr {
  border-top-color: #999; }

.row hr {
  margin-left: 15px;
  margin-right: 15px; }

.col-md-3 h2 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 16px;
  font-weight: 600; }
.col-md-3 h3 {
  color: #999;
  margin-top: 0;
  padding-top: 0;
  font-size: 14px; }

div.caption h2 {
  font-size: 18px;
  margin-top: 10px; }

#weTeam p {
  margin: 40px 0;
  text-align: justify; }
#weTeam h3 {
  font-size: 18px; }
  #weTeam h3 small {
    font-size: 18px; }

a {
  color: #333; }
  a:hover {
    color: red;
    text-decoration: none; }

iframe {
  display: block; }

#caption1, #caption2, #caption3, #caption4, #caption5, #caption6, #caption6, #caption7, #caption8 {
  display: none; }

.divider {
  display: block;
  background-image: url("../img/bggrey.gif");
  width: 100% !important;
  height: 100px;
  clear: both; }

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
  .divider {
    background-image: url("../img/bggrey@2x.png"); } }
div.job {
  border-bottom: 1px dotted #999; }

#forYouJobs .col-md-6 h2 {
  margin-top: 0; }

#forYouReferences ul {
  list-style: none; }

#weProfile h1 {
  font-size: 400%;
  margin-bottom: 30px; }
#weProfile ul {
  list-style: none; }
  #weProfile ul li {
    background: red;
    color: #fff;
    margin-bottom: 7px;
    padding: 3px; }

#newsletter form {
  margin: 0 auto;
  width: 460px;
  padding-top: 15px; }
#newsletter .well {
  position: relative;
  margin-left: 15px;
  margin-right: 15px; }
  #newsletter .well input[type=radio] {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0; }
  #newsletter .well img {
    width: 193px;
    height: 100px;
    opacity: 0.7; }
    #newsletter .well img.activeImg {
      border: 1px solid red;
      opacity: 1; }
  #newsletter .well h3 {
    margin-top: 0; }
#newsletter .input-group {
  margin-bottom: 4px; }
#newsletter .input-group-addon {
  text-align: left; }
#newsletter .inputs .input-group-addon {
  text-align: left;
  width: 110px; }
#newsletter .inputs input {
  width: 320px; }
#newsletter .form-control:focus {
  border-color: red;
  outline: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

#forYouReferences a:hover {
  color: red; }

.showcase.big .col-md-5, .showcase.big .col-md-7 {
  padding: 0; }
.showcase.big h2 {
  font-size: 18px;
  margin-top: 0; }
.showcase.big img {
  float: left; }

footer {
  padding-top: 25px; }
  footer .footerLeft {
    padding-left: 0; }
    footer .footerLeft .btn {
      padding: 1px 3px 0px 3px;
      background-color: red;
      border-color: red; }
  footer .footerRight {
    padding-right: 0; }
    footer .footerRight address {
      font-size: 13px; }
      footer .footerRight address h3 {
        margin-top: 0;
        color: red;
        font-size: 18px;
        margin-bottom: 0; }

@media (min-width: 1200px) {
  .container {
    max-width: 970px; } }
body {
  padding-top: 0;
  font-family: "Arial";
  width: 98%; }

.toggled {
  display: block; }
