@import url(bootstrap.min.css);
@font-face {
  font-family: "DIN";
  src: url("../fonts/DINWeb.eot"); }

@font-face {
  font-family: "DIN";
  src: url("../fonts/DINWeb.woff") format("woff"); }

html, body {
  font-family: "DIN"; }

.navbar-nav {
  margin-left: 0; }

#sound2 {
  border: 2px solid orange; }

.navbar {
  font-family: "DIN"; }
.navbar .languageSwitcher {
  color: #999999;
  padding-top: 19px;
  display: block; }
.navbar .container {
  padding-top: 45px;
  padding-left: 0;
  padding-right: 0;
  background: #fff; }
.navbar img {
  width: 200px;
  height: 23px; }
.navbar a {
  text-transform: uppercase; }
.navbar a.dropdown-toggle {
  color: red;
  font-size: 225%; }
.navbar a.dropdown-toggle small {
  color: #999999;
  font-size: 50%; }
.navbar a.dropdown-toggle:hover {
  background: #fff; }
.navbar .nav > li {
  float: left; }
.navbar li > a:focus, .navbar li > a:hover {
  background: red; }
.navbar li.dropdown .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  border: 0;
  background: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: 1px 1px 4px #999999;
  -moz-box-shadow: 1px 1px 4px #999999;
  box-shadow: 1px 1px 4px #999999; }
.navbar li.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1.0;
  visibility: visible; }

@media (max-width: 320px) {
  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0; }

  .navbar-header {
    display: block;
    float: none !important;
    margin: 0 auto !important;
    margin-left: 50px !important; }

  .navbar {
    min-height: 0;
    margin-bottom: 0; }
  .navbar .container {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    background: #fff; }

  body {
    padding-top: 80px; } }
h1, h2, h3, h4, h5, h6 {
  font-family: "DIN";
  text-transform: uppercase; }

.page-header {
  border-bottom: none;
  margin-bottom: 0; }
.page-header h1 {
  color: #999999;
  font-size: 16px; }
.page-header small {
  color: red;
  font-size: 16px; }

h4 {
  display: inline-block;
  font-size: 14px;
  text-transform: none;
  margin-bottom: 5px;
  margin-top: 5px; }

.red {
  color: red; }

ul {
  list-style: square;
  padding: 0; }

#workNews iframe {
  margin: 0; }

.noPadding {
  padding: 0; }

p {
  margin: 10px 0; }

.toggled {
  display: none; }

.toggler, .newsletterToggler {
  color: red;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase; }
.toggler .more, .newsletterToggler .more {
  font-size: 80%; }
.toggler .more:after, .newsletterToggler .more:after {
  content: "more"; }
.toggler .less, .newsletterToggler .less {
  font-size: 80%; }
.toggler .less:after, .newsletterToggler .less:after {
  content: "less"; }

article.container {
  margin-bottom: 25px; }

.medTxt h2 {
  font-size: 18px;
  margin-top: 0; }

.smallItem img {
  width: 213px !important;
  height: 136px !important; }
.smallItem h2 {
  margin-top: 7px; }

section.abstract {
  margin-bottom: 25px; }

hr {
  border-top-color: #999; }

.row hr {
  margin-left: 15px;
  margin-right: 15px; }

.col-md-3 h2 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 16px;
  font-weight: 600; }
.col-md-3 h3 {
  color: #999999;
  margin-top: 0;
  padding-top: 0;
  font-size: 14px; }

div.caption h2 {
  font-size: 18px;
  margin-top: 10px; }

#weTeam p {
  margin: 40px 0;
  text-align: justify; }
#weTeam h3 {
  font-size: 18px; }
#weTeam h3 small {
  font-size: 18px; }

a {
  color: #333; }
a:hover {
  color: red;
  text-decoration: none; }

iframe {
  display: block;
  margin: 25px auto; }

#caption1, #caption2, #caption3, #caption4, #caption5, #caption6, #caption6, #caption7, #caption8 {
  display: none; }

.divider {
  display: block;
  background-image: url("../img/bggrey.gif");
  width: 100% !important;
  height: 100px;
  clear: both; }

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
  .divider {
    background-image: url("../img/bggrey@2x.png"); } }
div.job {
  border-bottom: 1px dotted #999; }

#forYouJobs .col-md-6 h2 {
  margin-top: 0; }

#forYouReferences ul {
  list-style: none; }

#weProfile h1 {
  font-size: 400%;
  margin-bottom: 30px; }
#weProfile ul {
  list-style: none; }
#weProfile ul li {
  background: red;
  color: #fff;
  margin-bottom: 7px;
  padding: 3px; }

#newsletter form {
  margin: 0 auto;
  width: 460px;
  padding-top: 15px; }
#newsletter .well {
  position: relative;
  margin-left: 15px;
  margin-right: 15px; }
#newsletter .well input[type=radio] {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0; }
#newsletter .well img {
  width: 193px;
  height: 100px;
  opacity: 0.7; }
#newsletter .well img.activeImg {
  border: 1px solid red;
  opacity: 1; }
#newsletter .well h3 {
  margin-top: 0; }
#newsletter .input-group {
  margin-bottom: 4px; }
#newsletter .input-group-addon {
  text-align: left; }
#newsletter .inputs .input-group-addon {
  text-align: left;
  width: 110px; }
#newsletter .inputs input {
  width: 320px; }
#newsletter .form-control:focus {
  border-color: red;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

#forYouReferences a:hover {
  color: red; }

.showcase.big .col-md-5, .showcase.big .col-md-7 {
  padding: 0; }
.showcase.big h2 {
  font-size: 18px;
  margin-top: 0; }
.showcase.big img {
  float: left; }

section.jumbotron {
  background: #1eb4fa;
  padding: 0; }
section.jumbotron .container {
  background: #fff; }
section.jumbotron .slider {
  background: red;
  padding: 10px; }

footer {
  padding-top: 25px; }
footer .footerLeft {
  padding-left: 0; }
footer .footerLeft .btn {
  padding: 1px 3px 0px 3px;
  background-color: red;
  border-color: red; }
footer .footerRight {
  padding-right: 0; }
footer .footerRight address {
  font-size: 13px; }
footer .footerRight address h3 {
  margin-top: 0;
  color: red;
  font-size: 18px;
  margin-bottom: 0; }

body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none; }

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: red;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none; }

.lightbox {
  position: absolute;
  left: 0;
  top: 10% !important;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal; }

.lightbox .lb-image {
  display: block;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.lightbox a img {
  border: none; }

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-container {
  padding: 4px; }

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat; }

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

.lb-container > .nav {
  left: 0; }

.lb-nav a {
  outline: none; }

.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block; }

.lb-prev {
  left: 0;
  float: left; }

.lb-prev:hover {
  background: url(../img/prev.png) left 48% no-repeat; }

.lb-next {
  right: 0;
  float: right; }

.lb-next:hover {
  background: url(../img/next.png) right 48% no-repeat; }

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  background: #fff;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-data {
  padding: 0 4px;
  color: #bbbbbb; }

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em; }

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
  text-transform: uppercase;
  color: #333; }

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999; }

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
/* The Nivo Slider styles */
.nivoSlider {
  position: relative;
  width: 100%;
  overflow: hidden; }

.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: none; }

.nivo-main-image {
  display: block !important;
  position: relative !important;
  width: 100% !important; }

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
  background: white;
  filter: alpha(opacity=0);
  opacity: 0; }

/* The slices and boxes in the Slider */
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
  top: 0; }

.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
  overflow: hidden; }

.nivo-box img {
  display: block; }

/* Caption styles */
.nivo-caption {
  padding: 5px;
  background: #fff;
  position: absolute;
  left: 0px;
  bottom: -10px;
  background: #fff;
  width: 100%;
  z-index: 8;
  padding: 5px 10px;
  padding-left: 0;
  opacity: 1;
  overflow: hidden;
  display: none;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }
.nivo-caption h2 {
  margin: 0;
  font-size: 18px; }
.nivo-caption h2 small {
  font-size: 18px; }

.nivo-caption p {
  padding: 5px;
  margin: 0; }

.nivo-caption a {
  display: inline !important; }

.nivo-html-caption {
  display: none; }

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 9;
  cursor: pointer; }

.nivo-prevNav {
  left: 0px; }

.nivo-nextNav {
  right: 0px; }

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
  text-align: center;
  padding: 15px 0; }

.nivo-controlNav a {
  cursor: pointer; }

.nivo-controlNav a.active {
  font-weight: bold; }

/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/
.theme-default .nivoSlider {
  position: relative;
  background: white url(loading.gif) no-repeat 50% 50%; }

.theme-default .nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none; }

.theme-default .nivoSlider a {
  border: 0;
  display: block; }

.theme-default .nivo-controlNav {
  text-align: center;
  padding: 20px 0; }

.theme-default .nivo-controlNav a {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin: 0 2px; }

.theme-default .nivo-controlNav a.active {
  background-position: 0 -22px; }

.theme-default .nivo-directionNav a {
  display: block;
  width: 75px;
  height: 90px;
  background: url(arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  opacity: 0;
  top: 40%;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }

.theme-default:hover .nivo-directionNav a {
  opacity: 1; }

.theme-default a.nivo-nextNav {
  background-position: -75px 0;
  right: 3px; }

.theme-default a.nivo-prevNav {
  left: 3px; }

.theme-default .nivo-caption a {
  color: red;
  border-bottom: 1px dotted #fff; }

.theme-default .nivo-caption a:hover {
  color: red; }

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
  width: 100%; }

.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
  width: auto;
  height: auto;
  background: none;
  margin-bottom: 5px; }

.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
  display: block;
  width: 120px;
  height: auto; }

#debug {
  position: fixed;
  top: 150px;
  left: 10px;
  background: rgba(255, 0, 0, 0.3);
  border: 1px dashed orange;
  z-index: 1000;
  display: none; }
#debug pre {
  background: none;
  border: none; }

#wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 120px;
  padding-bottom: 10px;
  -webkit-overflow-scrolling: touch; }

#contentLeft {
  float: left;
  width: 970px; }

#contentRight {
  float: left;
  width: 970px; }

#contentCenter {
  float: left;
  width: 970px; }

#container {
  width: 2910px;
  overflow: hidden; }

.tinySlider {
  height: 1%;
  overflow: hidden;
  padding: 0;
  position: relative; }

.tinySlider .viewport {
  float: left;
  width: 940px;
  height: 460px;
  overflow: hidden;
  position: relative; }

.tinySlider .buttons {
  background: url("../img/arrows.png") no-repeat scroll 0 0 transparent;
  display: block;
  margin: 0;
  width: 90px;
  height: 75px;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  text-indent: -9999em;
  left: 44%;
  opacity: 0;
  transition: opacity 0.5s; }

.tinySlider .buttons:hover {
  opacity: 1; }

.tinySlider .prev {
  top: 0; }

.tinySlider .next {
  bottom: 0;
  background-position: 0 -75px; }

.tinySlider .disable {
  visibility: hidden; }

.tinySlider .overview {
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 240px;
  left: 0;
  top: 0; }

.tinySlider .overview li {
  float: left;
  margin: 0 20px 0 0;
  padding: 0;
  height: 460px;
  border: 0;
  width: 940px;
  position: relative;
  overflow: hidden; }
.tinySlider .overview li img {
  height: 460px;
  width: 940px; }

.tinySlider .overview li .caption {
  position: absolute;
  z-index: 2000;
  bottom: -4px;
  background: #fff;
  left: 0;
  width: 100%;
  opacity: 1;
  padding: 5px;
  padding-left: 0;
  padding-bottom: 0; }
.tinySlider .overview li .caption h2 {
  margin: 0; }

@media (min-width: 1200px) {
  .container {
    max-width: 970px; } }
@media (max-width: 991px) {
  .tinySlider .viewport {
    width: 720px;
    height: 350px; }

  .tinySlider .overview li {
    height: 350px;
    width: 720px; }
  .tinySlider .overview li img {
    height: 350px;
    width: 720px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-3 {
    width: 50%;
    float: left;
    min-height: 250px; }

  .col-md-8 {
    width: 75%;
    float: left; }

  .col-md-4 {
    width: 25%;
    float: left; } }
@media (max-width: 768px) {
  .col-md-8 {
    width: 75%;
    float: left; }

  .col-md-4 {
    width: 25%;
    float: left; }

  .col-md-3 {
    width: 50%;
    float: left;
    min-height: 250px; }

  .row .col-md-3:nth-child(2n) {
    padding-left: 62px; }

  iframe {
    max-width: 557px; }

  .tinySlider .viewport {
    max-width: 720px;
    height: 140px; }

  .tinySlider .overview li {
    height: auto;
    max-width: 720px; }
  .tinySlider .overview li img {
    height: auto;
    max-width: 100%; }

  .navbar-fixed-top .container {
    padding-top: 0 !important; }

  .navbar a.languageSwitcher {
    display: none; } }
@media (max-width: 320px) {
  img {
    max-width: 290px !important; }

  iframe {
    max-width: 290px !important; }

  .col-md-3 {
    width: 100%;
    float: none !important;
    padding-left: 15px !important; }

  .col-md-8 {
    width: 100%;
    float: none !important; }

  .col-md-4 {
    width: 100%;
    float: none !important;
    padding-left: 0 !important;
    margin-top: 25px; }

  .tinySlider .viewport {
    max-width: 720px;
    height: 140px; }

  .navbar-fixed-top .container {
    padding-top: 0 !important; }

  .navbar .languageSwitcher {
    display: none; } }
