section.jumbotron {
//	background:#00a2ff; DAS HELLBLAU von HELL=
	background:rgb(30,180,250);
	padding:0;
	.container {
		background:#fff;
	}
	.slider {
		background:$heckhausred;
		padding:10px;
	}
}