html {
//	margin-top: 120px;
}

#wrapper {
	overflow-x: hidden;
	overflow-y: scroll;
	position:fixed;
	top:120px;
//	margin-top:120px;
	padding-bottom:10px;
//	border:2px solid orange;
}
#contentLeft {
	float: left;
	width:970px;
}
#contentRight {
	float: left;	
	width:970px;
}
#contentCenter {
	float: left;
	width:970px;	
}
#container {
	width:2910px;
	overflow:hidden;
}