@media (min-width: 1200px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991px) {
	.tinySlider .viewport {
		width: 720px;
		height: 350px;
	}
	.tinySlider .overview li{
		height: 350px;
		width: 720px;
		img {
			height: 350px;
			width: 720px;		
		}
	}
}
@media (min-width: 768px) and (max-width: 991px){
  .col-md-3 {
    width: 50%;
    float:left;
    min-height:250px;
  }
  .col-md-8 {
	  width:75%;
	  float:left;
  }
  .col-md-4 {
	  width:25%;
	  float:left;
  }
}
@media (max-width: 768px) {
	  .col-md-8 {
		  width:75%;
		  float:left;
	  }
	  .col-md-4 {
		  width:25%;
		  float:left;
	  }
	  .col-md-3 {
	    width: 50%;
	    float:left;
	    min-height:250px;
	    
	  }
	  .row .col-md-3:nth-child(2n) {
		  padding-left: 62px;
	  }
	  iframe {
		  max-width:557px;
	  }
	.tinySlider .viewport {
		max-width: 720px;
		height: 140px;
	}
	.tinySlider .overview li{
		height: auto;
		max-width: 720px;
		img {
			height: auto;
			max-width: 100%;		
		}
	} 
	.navbar-fixed-top {
		.container {
			padding-top:0 !important;
		}
	}
	.navbar a.languageSwitcher {
		display:none;
	}	
}
@media (max-width: 320px) {
  img {
	  max-width: 290px !important;
  }
  iframe {
	  max-width:290px !important;
  }
  .col-md-3 {
	  width: 100%;
	  float:none !important;
	  padding-left: 15px !important;
  }
  .col-md-8 {
	  width:100%;
	  float:none !important;
  }
  .col-md-4 {
	  width:100%;
	  float:none !important;
	  padding-left: 0 !important;
	  margin-top: 25px;	  
  }
  .tinySlider .viewport {
	  max-width: 720px;
	  height: 140px;
   }
	.navbar-fixed-top {
		.container {
			padding-top:0 !important;
		}
	}
	.navbar .languageSwitcher {
		display:none;
	}
}