@media (min-width: 1200px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991px) {
	.tinySlider .viewport {
		width: 720px;
		height: 350px;
	}
	.tinySlider .overview li{
		height: 350px;
		width: 720px;
		img {
			height: 350px;
			width: 720px;		
		}
	}
	.navbar img.callToAction {
		display:none;
	}
	
}
@media (min-width: 768px) and (max-width: 991px){
  .col-md-3 {
    width: 25%;
    float:left;
    min-height:250px;
  }
  .col-md-8 {
	  width:75%;
	  float:left;
  }
  .col-md-4 {
	  width:25%;
	  float:left;
  }
  .smallItem img {
	  //height: 110px !important;
  }
}
@media (max-width: 768px) {
	  .col-md-8 {
		  width:75%;
		  float:left;
	  }
	  .col-md-4 {
		  width:33%;
		  float:left;
	  }
	  .col-md-3 {
	    width: 25%;
	    float:left;
	    min-height:250px;
	    
	  }
	  iframe {
		  max-width:557px;
	  }
	 
	.navbar-fixed-top {
		.container {
			//padding-top:0 !important;
		}
	}
	.navbar a.languageSwitcher {
		display:none;
	}
  .smallItem img {
	  //height: 110px !important;
  }		
}
@media (max-width: 320px) {
  img {
	  max-width: 290px !important;
  }
  iframe {
	  max-width:290px !important;
  }
  .col-md-3 {
	  width: 100%;
	  float:none !important;
	  padding-left: 15px !important;
  }
  .col-md-8 {
	  width:100%;
	  float:none !important;
  }
  .col-md-4 {
	  width:100%;
	  float:none !important;
	  padding-left: 0 !important;
	  margin-top: 25px;	  
  }
  .tinySlider .viewport {
	  max-width: 320px;
	  height: 140px;
   }
	.navbar-fixed-top {
		.container {
			padding-top:0 !important;
		}
	}
	.navbar .languageSwitcher {
		display:none;
	}
}
@media (max-width: 320px) {
	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	.navbar-header {
		display:block;
		float:none !important;
		margin:0 auto !important;
		margin-left: 50px !important;
	}
	.navbar {
		min-height:0;
		margin-bottom: 0;
		.container {
			padding-top: 0;
			padding-left: 0;
			padding-right: 0;
			background: #fff;
		}
	}
	body {
		padding-top: 80px; //70 px for the standard height of a fixed navbar in bootstrap + 45 cause of the extra padding
	}	
}