//DUE to having a fixed navbar a body padding has to be inserted
body {
	//padding-top: 120px; //70 px for the standard height of a fixed navbar in bootstrap + 45 cause of the extra padding
}

.navbar-nav {
	margin-left: 0;
}

#sound2 {
	border:2px solid orange;
}

#headerHeartLink {
	text-transform: none;
}
.navbar {	
	.languageSwitcher {
		color:$heckhausgray;	
		padding-top: 19px;
		display: inline-block;		
	}
	font-family:"DIN";
	//background:orange;
	.container {
		padding-top: 45px;
		padding-left: 0;
		padding-right: 0;
		background: #fff;
	}
	img {
		width:200px;
		height:23px;
	}
	img.callToAction{
		height:60px;
		width:60px;
		display:inline-block;
		float: none;
		margin:0;
		margin-left: 250px;		
	}
	
	a {
		text-transform: uppercase;
	}
	a.dropdown-toggle {
		color:red;
		font-size:225%;
		small {
			color:$heckhausgray;
			font-size: 50%;
		}
		&:hover {
			background:#fff;
		}
	}
	.nav>li {
		float:left;
	}
	li>a:focus,
	li>a:hover {
		background: $heckhausred;
	}
	li.dropdown {
		.dropdown-menu {
			display: block;
			visibility: hidden;
			opacity: 0;
			//@include transition(0.5s all);
			border:0;
			background:#fff;
			@include box-shadow(none);
			@include box-shadow(1px 1px 4px #999);					
		}
		&:hover {
			.dropdown-menu {
				display: block;
				opacity: 1.0;
				visibility: visible;
			}
		}
	}
}