#videoModal {
	margin-top: 55px;	
}
#videoInModalWrapper {
	width:600px;
	margin:0 auto;	
	background:#fff;
	background-image: none;
	padding:10px;
}
.videoModalToggler {
	color:red;
	cursor: pointer;
}