.lb-prev {
  background: url(../img/prev.png) left 48% no-repeat;
}

.lb-next {
  background: url(../img/next.png) right 48% no-repeat;
}
#wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	top:90px;
}
.navbar-fixed-top {
	.container {
		padding-top:15px;
	}
}
@media (max-width: 768px) {
	.navbar-fixed-top {
		.container {
			padding-top:0 !important;
		}
	}
}
